@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/MonumentExtended-Regular.otf") format("opentype"),
    url("/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
  font-weight: normal; /* Regular */
  font-weight: 800; /* Ultrabold */
}

body {
  font-family: "Inter", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-monument {
    font-family: "Monument Extended", sans-serif;
  }
  .default-bg-gradient {
    @apply bg-gradient-to-t from-yellow-500 to-yellow-950;
  }
}
